/* noto-sans */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  -webkit-text-size-adjust: none;
}
html,
body {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
}
a {
  display: block;
}
body {
  overflow-x: hidden;
}
/* header */
header {
  height: 70px;
  background-color: #242424;
  position: relative;
}
header h1{
  height: 70px;
  width: 150px;
  margin: auto;
}
header h1 a {
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  background: url(../img/icon/text-logo.png) no-repeat center;
  background-size: auto 31px;
}
header .home-btn, header .menu-btn{
  position: absolute;
}
header .home-btn{
  text-indent: -9999px; 
  width: 36px; 
  height: 34px; 
  background: url(../img/icon/toplogo.png) center no-repeat;
  background-size: 12px auto;
  left: 20px;
  top: 18px;
}
header .menu-btn{
  text-indent: -9999px;
  width: 46px;
  height: 46px;
  background: url(../img/icon/menu-btn.png) no-repeat center;
  background-size: auto 28px;
  right: 16px;
  top: 12px;
}
/* main-banner */
.mainslider-list li{
  position: relative;
}
.mainslider-list li img{
  width: 100%;
}
.mainslider-list li a{
  width: 38.055vw;
  height: 9.722vw;
  font-size: 3.889vw;
  letter-spacing: -1px;
  background-color: #fff;
  color: #515151;
  position: absolute;
  bottom: 18.056vw;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
}
/* subscribe-area */
.subscribe-area{
  padding: 12.778vw 0;
}
.subscribe-area .subscribe-des{
  color: #36373b;
  text-align: center;
  font-size: 4.444vw;
  margin-bottom: 7.5vw;
  line-height: 8.333vw;
}
.subscribe-area .subscribe-list{
  text-align: center;
 
}
.subscribe-area .subscribe-list li{
  margin-bottom: 3.33vw;
}
.subscribe-area .subscribe-list li img{
  width: 73.888vw;
}
.subscribe-area .subscribe-btn{
  width: 64.722vw;
  height: 16.388vw;
  font-size: 4.166vw;
  background-color: #36373b;
  color: #ffffff;
  line-height: 16.388vw;
  margin: auto;
  text-align: center;
  margin-top: 8.056vw;
}
.menu-area{
  background: url(../img/menu-bg.png)no-repeat center;
  background-size: cover;
  padding: 16.111vw 4.444vw 14.722vw;
}
.menu-area .menu-title{
  color: #fff;
  text-align: center;
  font-size: 9.444vw;
  position: relative;
  padding-top: 3.055vw;
}
.menu-area .menu-title::before{
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1da4d9;
  width: 10.833vw;
  height: 1.389vw;
}
.menu-area .menu-title-sub{
  color: #1da4d9;
  text-align: center;
  margin-top: 4.116vw;
  margin-bottom: 8.889vw;
}
.menu-area .menu-list{
  display: flex;
  flex-wrap: wrap;
  gap: 2.5vw;
}
.menu-area .menu-list > li{
  width: calc(50% - 2.5vw);
}
.menu-area .menu-list > li img{
  width: 100%;
}
.menu-area .menu-list > li > a > span{
  display: block;
}
.menu-area .menu-list > li .menu-thum-txt{
  text-align: center;
  color: #a1a1a1;
  padding: 3.889vw 0;
}
.menu-area .menu-list > li .menu-thum-txt strong{
  color: #fff;
  display: block;
  margin-bottom: 2.5vw;
  font-size: 3.611vw;
}
.menu-area .menu-list > li .menu-thum-txt .price{
  font-size: 3.056vw;
}
.menu-area .menu-allreview-btn{
  margin: auto;
  color: #fff;
  border: 1px solid #464646;
  background-color: #1da4d9;
  width: 45.55vw;
  height: 13.35vw;
  font-size: 3.6vw;
  text-align: center;
  line-height: 13.35vw;
  margin-top: 11.66vw;
}
/* best-menu */
.best-menu-area{
  background-color: #ebebeb;
  padding: 9.444vw 4.167vw 7.778vw;
}
.best-menu-area img{
  width: 100%;
}
.best-menu-area .best-title{
  color: #36373b;
  font-size: 5.556vw;
  font-weight: 500;
  margin-left: 6.666vw;
  padding-top: 5.833vw;
  position: relative;
}
.best-menu-area .best-title::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1.666vw;
  width: 10vw;
  background-color: #36373b;
}
.best-menu-area .best-title-sub{
  font-size: 4.166vw;
  color: #5e6068;
  margin-top: 3.888vw;
  margin-left: 6.666vw;
}
.best-menu-area .best-menu-box{
  background-color: #fff;
  margin-top: 4.722vw;
}
.best-menu-area .best-menu-box .best-list img{
  width: 100%;
}
.best-menu-area .best-list .best-menu-txt{
  display: block;
  padding: 4.583vw 8.75vw;
  background-color: #ffffff;
}
.best-menu-txt .best-menu-des1,
.best-menu-txt .best-menu-des2{
  display: block;
}
.best-menu-txt .best-menu-des1{
  color: #4b4e54;
  font-size: 5.555vw;
  font-weight: 500;
}
.best-menu-txt .best-menu-des2{
  color: #606367;
  font-size: 3.333vw;
  margin-top: 4.444vw;
  line-height: 1.5;
  word-wrap: keep-all;
}
.best-list-pager{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.444vw;
  margin-top: 6.944vw;
}
.best-list-pager span{
  width: 4.167vw;
  height: 4.167vw;
  border-radius: 50%;
  background-color: #ddd;
  font-size: 0;
  cursor: pointer;
}
.best-list-pager span.active{
  background-color: #fff;
}
.match-area{
  background-color: #242424;
  padding: 9.777vw 4.444vw;
}
.match-area .match-box{
  background-color: #fff;
}
.match-area .match-box img{
  width: 100%;
}
.match-box .match-txt-box{
  padding-top: 15.277vw;
  padding-bottom: 9.027vw;
  text-align: center;
}
.match-box .match-txt-box .match-title{
  font-weight: 300;
  color: #575756;
  font-size: 10.277vw;
}
.match-box .match-txt-box .match-txt{
  color: #575756;
  font-size: 3.66vw;
  margin-top: 8.333vw;
  margin-bottom: 11.666vw;
}
.match-box .match-txt-box .match-quiz-btn{
  display: block;
  margin: auto;
  width: 46.944vw;
  height: 15.694vw;
  background-color: #1da4d9;
  color: #fff;
  line-height: 15.694vw;
  font-size: 4.444vw;
}
/* shop-area */
.shop-area{
  padding: 8.33vw 4.44vw;
}
.shop-area-title{
  font-weight: 500;
  color: #00a1df;
  font-size: 8.611vw;
  line-height: 1.15;
  text-align: center;
}
.shop-area-title-sub{
  text-align: center;
  color: #666;
  font-size: 4.861vw;
  margin: 9.0277vw 0 8.75vw;  
}
.shop-list{
  padding: 7.777vw 9.722vw 6.666vw;
}
.shop-area dt{
  color: #fff;
  font-size: 5.138vw;
  background-color: #afafaf;
  width: 34.444vw;
  height: 7.777vw;
  line-height: 7.777vw;
  text-align: center;
  margin-bottom: 5.833vw;
}
.shop-list dd{
  font-size: 4.306vw;
  display: inline-block;
  margin-right: 4.444vw;
  position: relative;
}
.shop-list dd:after{
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #666;
  right: -2.222vw;
  top: 50%;
  transform: translateY(-50%);
}
.shop-list dd:last-of-type{
  margin-right: 0;
}
.shop-list dd:last-of-type:after{
  display: none;
}
.opening-hours{
  padding: 9.166vw 9.722vw 10.555vw 10vw;
}
.opening-hours dt{
  width: 22.5vw;
}
.opening-hours dd{
  font-size: 3.333vw;
  color: #666;
  margin-bottom: 1.944vw;
  line-height: 1;
}
.opening-hours dd span.day{
  font-weight: 500;
  position: relative;
  padding-right: 3.333vw;
  margin-right: 3.333vw;
}
.opening-hours dd span.day:after{
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 3.333vw;
  background-color: #666;
}
.opening-hours dd span.time{
  font-weight: 400;
}
.shop-search-btn{
  width: 46.94vw;
  height: 15.83vw;
  line-height: 15.83vw;
  color: #fff;
  background-color: #00a1df;
  margin: 0 auto 13.88vw;
  text-align: center;
  font-size: 4.444vw;
}
.shop-list-box{
  margin: 0 3.888vw;
}
.shop-list-box li{
  position: relative;
}
.shop-list-box li img{
  width: 100%;
}
.shop-list-box li .shop-list-title{
  position: absolute;
  top: 2.5vw;
  right: 2.777vw;
  background-color: #00a1df;
  color: #fff;
  font-size: 2.777vw;
  padding: 1.388vw 2.222vw;
}
/* footer */
.policy-area{
  padding: 2.222vw 0;
  background-color: #1da4d9;
  text-align: center;
  font-size: 3.333vw;
  line-height: 3.333vw;
}
.policy-area span{
  display: block;
  height: 3.333vw;
  margin-bottom: 1.111vw;
}
.policy-area a {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #fff;

}
.policy-area a:last-of-type{
  border-right:none;
  margin-right: 0;
  padding-right: 0;
}
.footer-menu-area{
  background-color: #36373b;
  display: flex;
  flex-wrap: wrap;
  font-size: 3.333vw;
  padding-top: 8.888vw;
  padding-left: 4.44vw;
  color: #fff;
  gap: 5.555vw;
}
.footer-menu-area dl{
  margin-bottom: 9.44vw;
}
.footer-menu-area dl dt{
  font-size: 3.888vw;
  font-weight: 700;
  color: #9bcbde;
  margin-bottom: 10.278vw;
}
.footer-menu-area dl dd{
  margin-bottom: 3.333vw;
  font-size: 3.333vw;
  letter-spacing: -1.5px;
}
footer address{
  text-align: center;
  color: #fff;
  height: 8.333vw;
  line-height: 8.333vw;
  font-size: 2.777vw;
  font-style: normal;
  background-color: #222;
}